In [2]:
import pandas as pd

# Load the Iris dataset (replace with your file if needed)
df = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
print(df.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [4]:
# Group by species and describe
grouped_stats = df.groupby('variety').describe()
grouped_stats

KeyError: 'variety'

In [5]:
# Group by species and describe
grouped_stats = df.groupby('species').describe()
grouped_stats

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.107210  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [6]:
df.groupby('species').agg(['mean', 'std'])

           sepal_length           sepal_width           petal_length  \
                   mean       std        mean       std         mean
species
setosa            5.006  0.352490       3.418  0.381024        1.464
versicolor        5.936  0.516171       2.770  0.313798        4.260
virginica         6.588  0.635880       2.974  0.322497        5.552

                     petal_width
                 std        mean       std
species
setosa      0.173511       0.244  0.107210
versicolor  0.469911       1.326  0.197753
virginica   0.551895       2.026  0.274650